body {
    position: relative;
}

nav {
    text-align: right;
}

#fixed_secret {
    position: fixed;
    top: 50%;
}

#secret {
    width: 400px;
    height: 2000px;
}

#secret pre {
    position: absolute;
    top: 1000px;
}

#secret p {
    text-align: right;
}
